<!doctype html>

<html lang="ro">
<head>
    <meta charset="utf-8">

    <title>GRDP Tribune</title>
    <meta name="description" content="secure data for the people">
    <meta name="author" content="fibonet.ro">

	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.7.5/forge.min.js"></script>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'backpack/styling.css' %}">
</head>

<body>
	<div class="page-header">
	    <h1>Let there be an awesome website</h1>
	</div>
	<div class="page-content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
