{% extends "./base.html" %}

{% block content %}

{% load static %}
<script  type="text/javascript"  src="{% static 'backpack/rsa_lab.js' %}"></script>  

	<p align="right"><a class="btn btn-info" role="button" href="{% url 'user_home' %}">inapoi</a></p>
	<p>
		{% if is_new %}
		<form action="" method="post" id = "id_form_person">
		{% else %}
		<form action="update/" method="post" id = "id_form_person">
		{% endif %}
			{% csrf_token %}
			<table>
			{{ form.as_table }}
			</table>
			<input type="submit" class="btn btn-info" value="Salveaza" />
		</form>
	</p>
<script>
	$(document).ready(function() {
		document.getElementById('id_email').value = decrypt('{{ privk }}',document.getElementById('id_email').value );
	});

	$('#id_form_person').submit(function() {
		document.getElementById('id_email').value = encrypt('{{ pubk }}', document.getElementById('id_email').value )
	});
</script>
{% endblock %}
