{% extends "./base.html" %}

{% block content %}

{% load static %}
<script  type="text/javascript"  src="{% static 'backpack/rsa_lab.js' %}"></script>  
 
<p align="right" class="widget">
    <a class="btn btn-info" role="button" href="{% url 'logout' %}">logout</a>
</p>
<h3>Biroul tau privat</h3>
<div id="table" style="width: 92%;">
    <table class="table">
      <tr>
        <th>Numele</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Facebook</th>
        <th>Telefon (parinte)</th>
        <th>Email (parinte)</th>
        <th>Facebook (parinte)</th>
      </tr>

      {% for dude in people %}
          <tr>
            <td><a href="{% url 'view_person' dude.id %}">{{ dude.full_name }}</a></td>
            <td>{{ dude.phone }}</td>
            <td><script>document.write(decrypt('{{ privk }}','{{ dude.email }}'))</script></td>
            <td>{{ dude.facebook_url }}</td>
            <td>{{ dude.parent_phone }}</td>
            <td>{{ dude.parent_email }}</td>
            <td>{{ dude.parent_facebook_url }}</td>
          </tr>
      {% endfor %}
    </table>
  <hr>
  <p><a class="btn btn-info" role="button" href="{% url 'create_person'%}">Adauga</a></p>
</div>

{% endblock %}
